.input-group {
  position: relative;

  .text-input {
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #ff0083;
    width: 300px;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 5px;
  }

  input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Not Firefox */
    margin: 0;
  }
}



