
.welcome {
  position: relative;
  display: flex;
  padding-right: 30px;

  .welcome-statement {
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 1px;
  }

  .tooltip {
    position: absolute;
    right: -200px;
    top: 2px;
    width: 200px;
    display: inline-block;
    font-size: 12px;
    opacity: 0.7;
    transition: 0.2s;

    &:before {
      content: "- ";
    }
  }
}

