.round-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #4A4A4A;
  font-size: 15px;
  transition: opacity 0.3s;
  box-shadow: 1px 3px #4A4A4A;
  background-color: transparent;
  opacity: 0.7;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    box-shadow: 1px 1px #666;
    transform: translateY(2px);
  }
}

