.ConfirmationPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .stagesContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
