.AppLogo {
    height: 40vmin;
    pointer-events: none;
    margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
        width: 40px;
        height: 40px;
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
