@import "../../Assets/Scss/Base/colors";

.NavigationButtons {
  display: flex;
  justify-content: space-between;

  .navigationButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: $primary;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;

    div {
      color: inherit;
    }
  }
}
