@import "../../Assets/Scss/Base/colors";

.AfterSubmitPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .container {
    width: 320px;
    height: 320px;
    display: flex;
    border: 1px solid $primary;
    border-radius: 500px;

    .text {
      color: $primary;
      font-size: 24px;
      display: block;
      height: fit-content;
      font-family: "Dancing Script", sans-serif;
      user-select: none;
    }

    .text1 {
      margin-left: 20px;
      margin-top: 100px;
    }

    .text2 {
      margin-left: 35px;
      margin-top: 200px;
    }
  }
}
