.get-name {
  width: fit-content;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s ease-out;

  .welcome-text {
    margin-bottom: 15px;
    font-size: 22px;
    text-align: center;
  }

  .welcome-input {
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #ff0083;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #ff0083;
      opacity: 0.5;
    }
  }
}
