@import "../../Assets/Scss/Base/colors";

.ActionButton {
  font-family: "Lato", sans-serif;
  text-align: center;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
  text-transform: uppercase;
  color: #fff;
  min-width: 165px;
  font-size: 14px;
  box-shadow: rgba(255, 0, 131, 0.5) 0 10px 40px -10px;
  border-radius: 5px;
  font-weight: 700;
  width: 226px;
  height: auto;
  padding: 13px 20px;
  cursor: pointer;
  background-color: $primary;

  span {
    color: inherit;
  }


  &:hover {
    background-color: $darkPrimary;
  }

  &:disabled {
    background-color: darken($darkPrimary, 30%);
    box-shadow: none;
    cursor: default;
  }
}
